*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

a {
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #000000;
    padding-top: 80px;
    padding-bottom: 30px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.head .text {
    width: 300px;
    font-size: 16px;
}



.img-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 50px;
}

.image-text {
    position: relative;
    padding-top: 50px;
    width: 245px;
  }

.image-text img {
    width: 90%;

}



.image-text .role {
    position: absolute;
    right: 0;
    font-size: 14px;
    text-transform: uppercase;
    writing-mode: vertical-rl;
}

.image-text:nth-child(3n + 2) {
    margin-top: 110px;
}


@media only screen and (max-width:480px) {

    .container {
        width: 100%;
    }

    .head{
        display: flex;
        flex-direction: column;
        padding: 50px 10px;
        width: 100%;
    }

    .text {
        padding-top: 30px;
        font-size: 14px;
    }

    .img-container {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 5px;
    }

    .image-text .role {
        font-size: 12px;
    }

    .image-text:nth-child(3n + 2) {
        margin-top: unset;
    }
    
    .image-text:nth-child(odd) {
        row-gap: 10px;
    }
    
    .image-text:nth-child(even) {
        margin-top: 50px;
        row-gap: 50px;
    }

    .image-text {
        padding-top: 20px;
        width: 155px;
      }

    .img-container img {
        width: 138px;
    }

}